<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- permissions are injected in build.rs -->

    <application>
        <service android:name=".AlarmRingingService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <receiver android:name=".AlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.threshold.ALARM_TRIGGER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".SetAlarmActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Threshold">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>